{% extends "base.html" %}
{% block content %}
      <div class="container">
        <div class="row">
          <div class="col-sm-3 col-md-6 col-md-offset-3">
            <div class="page-header">
              <h1>Search and Edit User Settings</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-3 col-md-6">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Enter a user's email" aria-describedby="emailinput">
              <span
              class="input-group-addon" id="emailinput">Get</span>
            </div>
          </div>
        </div>
      </div>
      <br>
     <div class="container">
        <div class="row">
          <div class="col-sm-3 col-md-6">
             <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">User Information</h3>
              </div>
              <div class="panel-body">
                <div class="form-group">
                  <label for="phone#">Phone Number:</label>
                  <input class="form-control" rows="1" id="phone#"/>
                </div>
                <div class="form-group">
                  <label for="first">First Name: </label>
                  <input class="form-control" rows="1" id="first"/>
                </div>
                <div class="form-group">
                  <label for="last">Last Name: </label>
                    <textarea class="form-control" rows="1"
                    id="last"></textarea>
                </div>
                <button type="submit" class="btn btn-lg btn-block btn-primary">Save</button>
                <br>
                <button type="submit" class="btn btn-lg btn-block btn-danger">Delete User</button>
              </div>
            </div>
            </div>
            <div class="col-sm-3 col-md-6">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Change User Password</h3>
                  </div>
                  <div class="panel-body">
                <div class="form-group">
                  <label for="password">Password: </label>
                  <input type="password" class="form-control" rows="1" id="password"/>
                </div>
              <button type="submit" class="btn btn-lg btn-block btn-primary">Reset Password</button>
            </div>
            </div>
            </div>
        </div>
      </div>
{% endblock %}