{% extends "base.html" %}
{% block content %}
      <div class="container">
        <div class="row">
          <div class="col-sm-3 col-md-6 col-md-offset-3">
            <div class="page-header">
              <h1>Search and Edit User Settings</h1>
            </div>
          </div>
        </div>
      </div>
    <form class="form" method="POST" action="/users/emaillookup">
      <div class="container">
        <div class="row">
          <div class="col-sm-3 col-md-12">
            <div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Search Users</h3>
		</div>
		<div class="panel-body">
              <input type="text" class="form-control" name="email" placeholder="Enter a user's email" value="{{ user.email }}"aria-describedby="emailinput">
              <br>
		<button type="submit"
              class="btn btn-large btn-primary btn-block">Get</button>
            </div>
	</div>
          </div>
        </div>
      </div>
    </form>
      <br>
    <form class="form" method="POST" action="/users/updateuser">
     <div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-6">
             <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">User Information</h3>
              </div>
              <div class="panel-body">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input class="form-control" rows="1" value="{{ user.email }}" name="email">
                  <label for="phone_number">Phone Number:</label>
                  <input class="form-control" rows="1" value="{{user.phone_number }}" name="phone_number"/>
                  <label for="first_name">First Name: </label>
                  <input class="form-control" rows="1" value="{{ user.first_name }}" name="first_name"/>
                  <label for="last_name">Last Name: </label>
                    <input class="form-control" rows="1"name="last_name" value="{{ user.last_name }}"/>
                 <br>
                <input type="submit" value="Save" class="btn btn-lg btn-block btn-primary">
                <br>
                <input type="submit" value="Delete User" class="btn btn-lg btn-block btn-danger">
                </div>
              </div>
            </div>
            </div>

         </form>
            <form class="form" method="POST" action="/users/updatepass">
            <div class="col-sm-3 col-md-6">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Change User Password</h3>
                  </div>
                  <div class="panel-body">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input class="form-control" rows="1" value="{{ user.email }}" name="email">
                  <label for="password">Password: </label>
                  <input type="password" class="form-control" rows="1" name="password"/>
                </div>
              <input type="submit" value="Reset Password" class="btn btn-lg btn-block btn-primary">
            </div>
            </div>
            </div>
        </form>
        </div>

    </div>





    {% if user is not none %}
        <script>
        $(document).ready(function () {
            $("email").val("{{ user.email }}");
        })
        </script>
    {% endif %}
{% endblock %}
